* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ecf56e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgb(230, 131, 225);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#stopwatch {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #2c3e50;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #9f22aa;
    color: black;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ecf56e;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.2rem;
    margin: 5px 0;
}